.classpath
.project
.settings/*
target/*
/target/
src/main/resources/public/bower_components/*
src/main/resources/public/.idea/*
npm-debug.log
src/main/resources/public/node_modules/*
node_modules/*
.idea/
virterm.iml
test-results.xml
update.bat
src/test/resources/properties/application.properties
src/test/resources/properties/ingrian.properties
src/main/resources/vendor/*
src/main/resources/public/*
coverage/*
*.log

